# Pythonic Codes

In [1]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''
for s in colors:
    result += s

print(result)

redbluegreenyellow

In [2]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [3]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [7]:
example = 'python,jquery,javascript'
print(example.split(','))

a, b, c = example.split(',')
print(a, b, c)

example = 'theteamlab.univ.edu'
subdomain, domain, tld = example.split('.')
print(subdomain, domain, tld)

['python', 'jquery', 'javascript']
python jquery javascript
theteamlab univ edu

In [8]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

In [9]:
result = ' '.join(colors)
print(result)

result = ', '.join(colors)
print(result)

result = '-'.join(colors)
print(result)

red blue green yellow
red, blue, green, yellow
red-blue-green-yellow

In [11]:
result = []
for i in range(10):
    result.append(i)

result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
result = []
for i in range(10):
    if i % 2 == 0:
        result.append(i)

result

[0, 2, 4, 6, 8]

In [14]:
result = [i for i in range(10) if i % 2 == 0]
result

[0, 2, 4, 6, 8]

In [15]:
result = [i if i % 2 == 0 else 10 for i in range(10)]
result

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [18]:
word_1 = 'Hello'
word_2 = 'World'
result = [i + j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [2]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

stuff = [[w.upper(), w.lower(), len(w)] for w in words]

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [20]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [21]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i + j for i in case_1 for j in case_2]

print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [22]:
result = [[i + j for i in case_1] for j in case_2]
print(result)

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [3]:
def sclar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * value)
    return result

iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    sclar_vector_product(scalar, vector)

In [4]:
iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    [scalar * value for value in range(iteration_max)]

In [31]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [33]:
print({i:j for i, j in enumerate('TEAMLAB is an academic institute located in South Korea.'.split())})

{0: 'TEAMLAB', 1: 'is', 2: 'an', 3: 'academic', 4: 'institute', 5: 'located', 6: 'in', 7: 'South', 8: 'Korea.'}

In [34]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [37]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

[sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))]

(1, 10, 100) (2, 20, 200) (3, 30, 300)

[111, 222, 333]

In [38]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

In [39]:
def f(x, y):
    return x + y

print(f(1, 4))

5

In [40]:
f = lambda x, y: x + y
print(f(1, 4))

5

In [41]:
f = lambda x, y: x + y
print(f(1, 4))

f = lambda x: x ** 2
print(f(3))

f = lambda x: x / 2
print(f(3))

print(f(3, 5))

5
9
1.5

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [45]:
ex = [1, 2, 3, 4, 5]
f = lambda x: x ** 2
print(list(map(f, ex)))

[1, 4, 9, 16, 25]

In [46]:
ex = [1, 2, 3, 4, 5]
f = lambda x: x ** 2
for value in map(f, ex):
    print(value)

1
4
9
16
25

In [47]:
ex = [1, 2, 3, 4, 5]
print([x ** 2 for x in ex])

[1, 4, 9, 16, 25]

In [48]:
ex = [1, 2, 3, 4, 5]
f = lambda x, y: x + y
list(map(f, ex, ex))

[2, 4, 6, 8, 10]

In [49]:
[x + y for x, y in zip(ex, ex)]

[2, 4, 6, 8, 10]

In [50]:
print(list(map(lambda x: x ** 2 if x % 2 == 0 else x, ex)))

print([x ** 2 if x % 2 == 0 else x for x in ex])

[1, 4, 3, 16, 5]
[1, 4, 3, 16, 5]

In [51]:
from functools import reduce

print(reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]))

15

In [52]:
x = 0
for y in [1, 2, 3, 4, 5]:
    x += y

print(x)

15

In [53]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

asterisk_test(1, 2, 3, 4, 5, 6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [56]:
def asterisk_test(a, **kargs):
    print(a, kargs)
    print(type(kargs))

asterisk_test(1, b=2, c=3, d=4, e=5, f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [57]:
def asterisk_test(a, args):
    print(a, *args)
    print(type(args))

asterisk_test(1, (2, 3, 4, 5, 6))

1 2 3 4 5 6
<class 'tuple'>

In [4]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

asterisk_test(1, *(2, 3, 4, 5, 6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [6]:
a, b, c = ([1, 2], [3, 4], [5, 6])
print(a, b, c)

data = [1, 2], [3, 4], [5, 6]
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [9]:
for data in zip(*[[1, 2], [3, 4], [5, 6]]):
    print(data)
    print(type(data))

(1, 3, 5)
<class 'tuple'>
(2, 4, 6)
<class 'tuple'>

In [11]:
for data in zip([1, 2], [3, 4], [5, 6]):
    print(data)
    print(type(data))

(1, 3, 5)
<class 'tuple'>
(2, 4, 6)
<class 'tuple'>

In [12]:
def asterisk_test(a, b, c, d):
    print(a, b, c, d)

data = {"b": 1, "c": 2, "d": 3}
asterisk_test(10, **data)

10 1 2 3

## 선형대수학

In [13]:
u = [2, 2]
v = [2, 3]
z = [3, 5]
result = []

for i in range(len(u)):
    result.append(u[i] + v[i] + z[i])

print(result)

[7, 10]

In [14]:
u = [2, 2]
v = [2, 3]
z = [3, 5]

result = [sum(t) for t in zip(u, v, z)]
print(result)

[7, 10]

In [15]:
[t for t in zip(u, v, z)]

[(2, 2, 3), (2, 3, 5)]

In [16]:
def vector_addition(*args):
    return [sum(t) for t in zip(*args)]

vector_addition(u, v, z)

[7, 10]

In [17]:
row_vectors = [[2, 2], [2, 3], [3, 5]]
vector_addition(*row_vectors)

[7, 10]

In [19]:
u = [1, 2, 3]
v = [4, 4, 4]
alpha = 2

result = [alpha * sum(t) for t in zip(u, v)]
result

[10, 12, 14]

In [ ]:
matrix_a = [[3, 6], [4, 5]]                             # 리스트로 표현한 경우
matrix_b = [(3, 6), (4, 5)]                             # 튜플로 표현한 경우
matrix_c = {(0, 0): 3, (0, 1): 6, (1, 0): 4, (1, 1): 5} # 딕셔너리로 표현한 경우

In [4]:
matrix_a = [[3, 6], [4, 5]]
matrix_b = [[5, 8], [6, 7]]
result = [[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]

print(result)

[[8, 14], [10, 12]]

In [6]:
[t for t in zip(matrix_a, matrix_b)]

[([3, 6], [5, 8]), ([4, 5], [6, 7])]

In [3]:
matrix_a = [[1, 1], [1, 1]]
matrix_b = [[1, 1], [1, 1]]
all([row[0] == value for t in zip(matrix_a, matrix_b) for row in zip(*t) for value in row])

matrix_b = [[5, 8], [6, 7]]
all([all([row[0] == value for value in row]) for t in zip(matrix_a, matrix_b) for row in zip(*t)])

False

In [25]:
print(any([False, False, False]))
print(any([False, True, False]))
print(all([False, True, True]))
print(all([True, True, True]))

False
True
False
True

In [7]:
[[row[0] == value for value in row] for t in zip(matrix_a, matrix_b) for row in zip(*t)]

[[True, False], [True, False], [True, False], [True, False]]

In [8]:
matrix_a = [[1, 2, 3], [4, 5, 6]]
result = [[element for element in t] for t in zip(*matrix_a)]
print(result)

[[1, 4], [2, 5], [3, 6]]

In [9]:
[t for t in zip(*matrix_a)]

[(1, 4), (2, 5), (3, 6)]

In [11]:
matrix_a = [[1, 1, 2], [2, 1, 1]]
matrix_b = [[1, 1], [2, 1], [1, 3]]
result = [[sum( a * b for a, b in zip(row_a, column_b)) for column_b in zip(*matrix_b)] for row_a in matrix_a]
print(result)

[[5, 8], [5, 6]]