In [1]:
# Question 1: Basic Python Syntax
# Write a Python program to print your name and the result of 5 + 7.

# Your answer here
print("Dongmin Lee")
print(5 + 7)

Dongmin Lee
12

In [2]:
# Question 2: Identifying Data Types
# Create variables with different data types (integer, float, string, boolean).
# Print their values and types using type().

# Your answer here
a = 10
b = 10.5
c = "Hello, World!"
d = True

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

10 <class 'int'>
10.5 <class 'float'>
Hello, World! <class 'str'>
True <class 'bool'>

In [3]:
# Question 3: Celsius to Fahrenheit
# Write a program that takes a temperature in Celsius and converts it to Fahrenheit.
# Fahrenheit = (Celsius * 1.8) + 32

# Your answer here
celsius = input("Enter the temperature in Celsius:")
fahrenhiet = (float(celsius) * 1.8) + 32
print("Fahrenhiet temperature is:", fahrenhiet)

Fahrenhiet temperature is: 86.0

In [4]:
# Question 4: String and Integer Multiplication
# Given the code below, what will be the output? Run it and explain.
a = "1.5"
b = 4
print(a * b)

# Explain the result here
# a is a String and b is an Integer. When we multiply 'a' String with an Integer, it will repeat the String 'b' times.

1.51.51.51.5

In [6]:
# Question 5: Type Conversion
# Take two inputs (one integer and one float) and convert them to strings. Then print them together.

# Your answer here
a = int(input("Enter an integer:"))
b = float(input("Enter a float:"))

a = str(a)
b = str(b)

print(a, b)

10 30.5

In [7]:
# Question 6: List Indexing
# Create a list of five colors. Print the first and the last color.

# Your answer here
color = ['red', 'orange', 'yellow', 'green', 'blue']
print(color[0], color[-1])

red blue

In [8]:
# Question 7: List Operations
# Concatenate two lists and print the result. Multiply one list by 3 and print the result.

# Your answer here
list1 = ['apple', 'banana', 'cherry']
list2 = ['orange', 'kiwi', 'melon']
print(list1 + list2)

list3 = list1 * 3
print(list3)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [9]:
# Question 8: List Slicing and Reversing
# Create a list of cities. Slice the list to show the first three cities and reverse the list.

# Your answer here
cities = ['Seoul', 'New York', 'Paris', 'London', 'Tokyo']
print(cities[:3])
print(cities[::-1])

['Seoul', 'New York', 'Paris']
['Tokyo', 'London', 'Paris', 'New York', 'Seoul']

In [12]:
# Question 9: List Modification
# Create a list of colors and:
# 1. Append a color
# 2. Insert a color at the beginning
# 3. Remove the third color

# Your answer here
color = ['red', 'orange', 'yellow', 'green', 'blue']
print(color)

color.append('purple')
print(color)

color.insert(0, 'white')
print(color)

color.remove(color[2])
print(color)

['red', 'orange', 'yellow', 'green', 'blue']
['red', 'orange', 'yellow', 'green', 'blue', 'purple']
['white', 'red', 'orange', 'yellow', 'green', 'blue', 'purple']
['white', 'red', 'yellow', 'green', 'blue', 'purple']

In [13]:
# Question 10: Two-Dimensional Lists
# Create two lists: kor_score and math_score. Combine them into a 2D list and access specific elements.

kor_score = [49, 79, 20]
math_score = [50, 89, 95]
midterm_score = [kor_score, math_score]

# Print the second element of the first list and the third element of the second list.

# Your answer here
print(midterm_score[0][1])
print(midterm_score[1][2])

79
95